<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TreasureHuntEntities" connectionString="metadata=res://*/TreasureHuntModel.csdl|res://*/TreasureHuntModel.ssdl|res://*/TreasureHuntModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=174.136.15.132;user id=virapy_emmad;password=davidsone1;database=virapy_treasurehuntdb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>